services:
  sai-storage-mongo:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 8801:8801
      - 8802:8802
    depends_on:
      - mongo-db
    volumes:
      - ./config.json:/srv/config.json
  mongo-db:
    image: mongo:latest
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data: {}